body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #bdc3c7;
}

body, header, header input {
  font-family: 'Barlow', sans-serif;
}

#header {
  background-image: -moz-linear-gradient( 90deg, #30a0ff) 0%, #2e98f3) 100%);
  background-image: -webkit-linear-gradient( 90deg, #30a0ff) 0%, #2e98f3) 100%);
  background-image: -ms-linear-gradient( 90deg, #30a0ff) 0%, #2e98f3) 100%);
  box-shadow: -0.262px 4.993px 9px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80px;
  padding: 15px;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #30a0ff;
  z-index: 20;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 10px rgba(28, 28, 27, 0.2);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

header #item {
  width: calc(100% - 35px);
  height: 45px;
  float: right;
  top: 5px;
  padding:  10px  35px 10px 0px;
  font-size: 0.9em;
  text-indent: 10px;
  color: #FFF;
  position: relative;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  outline: none;
  background-color: #6fcaff;
  appearance: none;

  -webkit-appearance-none;
  -moz-appearance-none;
  -ms-appearance-none;
  -o-appearance-none;
}

/* Compatibility Across Other Web Browsers */
header #item::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.7);
}
header #item::-moz-placeholder {
  color: rgba(255,255,255, 1);
}
header #item:-ms-input-placeholder {
  color: rgba(255,255,255, 0.7);
}
header #item:-moz-placeholder {
  color: rgba(255,255,255, 0.7);
}

#container {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}

#upload-label {
  right: -5px;
  z-index: 20;
  bottom: 35px;
  padding: 10px;
  position: relative;
  float: right;
}

#preview {
  margin: auto;
  position: relative;
  width: 90%;
  left: 0;
  visibility: hidden;
  display: none;
  height: auto;
}

#upload-contain {
  margin: auto;
  position: relative;
  width: 0%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  bottom: 107pt;
 }

 #upload-contain img {
  position:absolute;
  top:-50%;
  bottom:-50%;
  margin:auto;
  width: 100%;
  height: auto;
}

#navigation {
  float: left;
  z-index: 100;
  height: 100%;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 0;
  overflow: hidden;
  position: fixed;
  background-color: red;
}

#navButton {
  background-color: transparent;
  position: relative;
  top: 10pt;
  height: 28px;
  width: 28px;
  border: 0;
  -webkit-appearance-none;
  -moz-appearance-none;
  -ms-appearance-none;
  -o-appearance-none;
}

#add {
  position: fixed;
  right: 0;
  padding: 10px 15px 20px 10px;
  bottom: 0;
  z-index: 30;
}

#add button {
  height: 52px;
  width: 52px;
  background-color: #30a0ff;
  padding: 12px;
  z-index: 30;
  border-radius: 50%;
  border: 0;
  -webkit-appearance-none;
  -moz-appearance-none;
  -ms-appearance-none;
  -o-appearance-none;
}

ul#todo, ul#complete {
  width: 100%;
  padding: 10px;
  position: relative;
  top: 90px;
  float:left;
}

ul#todo li, ul#complete li {
  position: relative;
  color: #000;
  width: 100%;
  min-height: 50px;
  font-size: 0.9em;
  float: left;
  padding: 15px 100px 20px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FFF;
  word-break: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  position: relative;
}

ul#todo li .buttons, ul#complete li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  float: left;
}

ul#todo li div .buttons, ul#complete li div .buttons {
  width: 50px;
  height: 50px;
  float: right;
  background: none;
  border: 0;
  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance-none;
  -moz-appearance-none;
  -ms-appearance-none;
  -o-appearance-none;
}

#addtodo, #removetodo {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

svg #removetodo:hover  {
  fill: #ff4f4f;
  -webkit-animation: glow 1.0s ease-in-out infinite alternate;
  -moz-animation: glow 1.0s ease-in-out infinite alternate;
  animation: glow 1.0s ease-in-out infinite alternate;
}

ul#complete:last-of-type::before {
  content: '';
  width: 20%;
  height: 2px;
  margin-bottom: 30px;
  position: relative;
  transform: translate(200%);
  display: inline-block;
  border: 0;
  background-color: #484c4f;
  box-shadow: none;
  outline: none;
  appearance: none;

  -webkit-appearance-none;
  -moz-appearance-none;
  -ms-appearance-none;
  -o-appearance-none;
}

ul#complete #addtodo, ul#todo #addtodo {
  width:29px;
  height:29px;
}

ul#todo #addtodo {
  padding:2px;
  border-radius: 50%;
  border: solid 3px #2ecc71;
  position: relative;
  top: 5px;
  left: 15px;
}
ul#todo li svg:last-child:before , ul#complete li svg:last-child:before {
   content: '';
   width: 1px;
   height: 30px;
   float: right;

   border: 0;
   background-color: #c4c4c4;
   box-shadow: none;
   outline: none;
   appearance: none;
   -webkit-appearance-none;
   -moz-appearance-none;
   -ms-appearance-none;
   -o-appearance-none;
   position: relative;
   right: 45px;
   top: 10px;
}

ul#todo #addtodo:hover {
  background-color: #2ecc71;
  fill:#FFF;
}

ul#complete #addtodo {
  background-color: #2ecc71;
  fill:#FFF;
  padding:2px;
  border-radius: 50%;
  border: solid 3px #2ecc71;
  position: relative;
  top: 5px;
  left: 15px;
}

ul#complete div  #addtodo:hover {
  background-color: #FFF;
  border-color: #2ecc71;
  fill: #2ecc71;
}

#removetodo {
  width:32px;
  height:32px;
  position: relative;
  top: 6px;
  left: 30px;

}

ul#todo:empty:after {
  position: relative;
  display:block;
  content: 'You have nothing todo right now...';
  font-weight: 200;
  text-align: center;
  color: #484c4f;
}

ul#complete:empty:after {
  position: relative;
  display:block;
  content: 'You have completed no tasks today...';
  font-weight: 200;
  text-align: center;
  color: #484c4f;
}

#img-container {
  left: 20pt;
  top: 10px;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;

}

#img-file {
  margin: auto;
  position: relative;
  width: 100%;
  height: auto;
}

#img-container img {
  position:absolute;
  top:-50%;
  bottom:-50%;
  margin:auto;
  width: 100%;
  height: auto;
}
